<main class="content">
  <section id="messages">
    <!--messages-->
    {{#each messages}}
      {{> messageBubble}}
    {{/each}}
  </section>

  <section id="send-messages">
    <div class="text-input-container">
      <input type="text" id="text-input" class="text-box">
      <button id="send-button" class="action-button">Send</button>
    </div>
  </section>
</main>
