<main class="content">
  <section id="messages">
    <!--messages-->
    {{#each messages}}
      {{> messageBubble}}
    {{/each}}
  </section>

  <section id="send-messages">
    <div class="text-input-container">
      <input type="text" id="text-input" class="text-box">
      <button id="send-button" class="action-button">Send</button>
      <button id="change-username-button" class="action-button">Change Username</button>
    </div>
  </section>
</main>

<div id="modal-backdrop" class="hidden"></div>
<div id="change-username-modal" class="hidden">
  <div class="modal-dialog">

    <div class="modal-header">
      <h3>Change Username</h3>
      <button type="button" id="modal-close" class="modal-hide-button">&times;</button>
    </div>

    <div class="modal-body">

      <div class="username-input-element">
        <label for="username-input">New Username</label>
        <input type="text" id="username-input">
      </div>

    </div>

    <div class="modal-footer">
      <button type="button" id="modal-cancel" class="modal-hide-button action-button">Cancel</button>
      <button type="button" id="modal-accept" class="action-button">Change Username</button>
    </div>

  </div>
</div>
