/* COLORS:
orange: #FCBB6D
red: #D8737F
darker red: #AB6C82
purply-red: #685D79
blue-black: #475C7A */

header {
   display: flex;
   background-color: #685D79;
   height: 17vh;
 }

 body {
   background-color: #AB6C82;
   height: 75vh;
   margin: 0;
 }

 .site-title a{
   font-family: 'Montserrat', sans-serif;
   font-size: 60px;
   font-weight: bold;
   color: #FCBB6D;
   text-decoration: none;
}

.site-title {
  margin-top: 30px;
  margin-left: 18px;
}

.content {
  height: 100%;
  width: 100%;
}

#display-messages{
  height: 85%;
  width: 100%;
}

#messages {
  height: 95%;
  width: 95%;
  background-color: #685D79;
  padding: 15px;
  overflow: auto;
  margin: 10px 20px 20px 20px;
}

.messageBubble {
    margin: 10px 5px;
    background-color: #475C7A;
    padding: 5px 0 5px 10px;
}

#username-text {
  color: #D8737F;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

#message-text {
  color: #FCBB6D;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  padding-right: 10px;
  overflow-wrap: break-word;
}

#send-messages {
  height: 15%;
  width: 100%;
}

.text-input-container {
  display: flex;
  height: 95%;
  width: 95%;
  background-color: #475C7A;
  padding: 10px;
  margin: 20px 20px 10px 20px;
}

#text-input {
  margin: 15px;
  width: 75%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ffffff;
  height: 14px 7px;
}

#send-button,
#change-username-button {
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  color: #475C7A;
  background-color: #FCBB6D;
  border: 0;
  width: 5%;
  height: 40px;
  margin: 14px 7px;
}

#send-button:hover,
#change-username-button:hover {
  cursor: pointer;
  color: #FCBB6D;
  background-color: #D8737F;
}

#change-username-button {
  width: 12%;
}

/*============
MODAL STYLING
=============*/
#modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.75);
}

#change-username-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: scroll;
}

.hidden {
  display: none;
}

.modal-dialog {
  width: auto;
  max-width: 600px;
  min-width: 350px;
  min-height: 300px;
  margin: 40px auto;
  background-color: #475c7a;
  border-radius: 15px;
}

.modal-header {
  position: relative;
  padding: 20px;
  font-family: Montserrat;
  color: #fcbb6d;
}

.modal-header h3 {
  margin: 0;
  font-size: 28px;
}

#modal-close {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 24px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.modal-body {
  padding: 20px;
}

.username-input-element {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin: 10px 0;
}

.username-input-element > label {
  font-family: 'Montserrat', sans-serif;
  color: #fcbb6d;
  font-weight: 600;
  flex: 1 75px;
  margin-right: 10px;
}

.username-input-element input {
  flex: 6 200px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ffffff;
  height: 15px;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px 20px 10px;
}

#modal-cancel,
#modal-accept {
  margin-right: 20px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  color: #475C7A;
  background-color: #FCBB6D;
  border: 0;
  height: 40px;
}

#modal-cancel:hover, #modal-accept:hover {
  cursor: pointer;
  color: #FCBB6D;
  background-color: #D8737F;
}
