/* COLORS:
orange: #FCBB6D
red: #D8737F
darker red: #AB6C82
purply-red: #685D79
blue-black: #475C7A */

header {
   display: flex;
   background-color: #5a5e64;
   height: 130px;
 }

 .site-title a{
   font-family: Roboto Slab;
   font-size: 60px;
   font-weight: 100;
   color: #FCBB6D;
   text-decoration: none;
}

.site-title {
  margin-top: 40px;
  margin-left: 18px;
}

body {
  margin: 0;
}

.content {
  height: 100%;
  width: 100%;
}

#messages {
  background-color: #475C7A;
  height: 300px;
  width: 100%;
}

#send-messages {
  background-color: #475C7A;
  padding: 15px;
  height: 83px;
}

.text-input-container{
  display: inline-flex;
  background-color: #685D79;
  height: 100%;
  width: 100%;
}

#text-input {
  margin: 13px;
  width: 85%;
  height: 50px;
}

#send-button {
  width: 60px;
  height: 50px;
  margin-top: 16px;
  margin-left: 4px;
}
