/* COLORS:
orange: #FCBB6D
red: #D8737F
darker red: #AB6C82
purply-red: #685D79
blue-black: #475C7A */

header {
   display: flex;
   background-color: #FCBB6D;
   height: 17vh;
 }

 body {
   background-color: #475C7A;
   height: 75vh;
 }

 .site-title a{
   font-family: 'Montserrat', sans-serif;
   font-size: 60px;
   font-weight: bold;
   color: #D8737F;
   text-decoration: none;
}

.site-title {
  margin-top: 30px;
  margin-left: 18px;
}

.content {
  height: 100%;
  width: 100%;
}

#messages {
  height: 85%;
  padding: 20px 0 10px 0;
}

.message-container {
  background-color: #685D79;
  height: 100%;
  width: 100%;
}

#send-messages {
  height: 15%;
  padding: 10px 0 20px 0;
}

.text-input-container{
  display: inline-flex;
  background-color: #685D79;
  height: 100%;
  width: 100%;
}

#text-input {
  margin: 13px;
  width: 85%;
  height: 25px;
}

#send-button {
  width: 60px;
  height: 25px;
  margin-top: 16px;
  margin-left: 4px;
}
